
<header>
  <h1>The Jobs EJS Application</h1>
  <% if (errors) {
    errors.forEach((err) => { %>
      <div role="alert" style="color: red;">Error: <%= err %></div>
  <% }) } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div style="color: green;">Info: <%= msg %></div>
  <% }) } %>
</header>
