<HTML>
    <%- include("partials/head.ejs") %>
    <body>
         <%- include("partials/header.ejs") %>
         <main>
           <p>The secret word is: <%= secretWord %></p>
          <p>Would you like to change it?</p>
          <form method="POST">
            <label name="secretWord"></label>
            <input name="secretWord" /><br />
            <button>Submit</button>
            </form>
         </main>
        <%- include("partials/footer.ejs") %>
    </body>
</html>